{% extends 'city/base.html' %}
{% block title %} job list {% endblock %}
{% block city_active %} Active {% endblock %}

{% block body %}
	
	{% if user.is_authenticated %}

		<!-- <div class="container"> -->
		<!--<div class="container-fluid"> -->
		<div>	
			<div class="align-items-center">
				<div class="row">
					<div class="col-md-12 order-md-12">
						<div class="panel panel-default">
							<div class="panel-body">	
								{% if messages %}
								    {% for message in messages %}
								      <p class="bg-success success_text">{{ message }}</p>
								    {% endfor %}
								{% endif %}	

								<p class="recruitor_title"> Jobs list </p>
								<!-- <hr class="mb-4"> -->
								{% if posting_data %}
									<table class="table table-bordered"> 
										<thead> 
											<tr> 
												<th>#</th> 
												<th>Title</th> 
												<th>Position</th> 
												<th>Address</th> 
												<th>Recruitment date</th>
											</tr> 
										</thead> 
										<tbody> 
											{% for i in posting_data %}
														
												<a href="#">
													<tr>
														<th scope="row"> <a href = "#">{{ forloop.counter }} </a></th>
														<td> {{ i.title }} </td>
														<td> {{ i.position }} </td>
														<td> {{ i.address }} </td>
														<td> {{ i.created }} </td>
													</tr>
												</a>
												
											{% endfor %}
											
										</tbody>
									</table>	
								

									{% if is_paginated %}
										<ul class="pagination">
										{% if page_obj.has_previous %}
										    <li>
										        <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
										    </li>
										{% endif %}
										    <li class="">
										        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
										    </li>
										{% if page_obj.has_next %}
										    <li>
										        <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
										    </li>
										{% endif %}
										</ul>

									{% else %}
										    <h3>Your File Exam</h3>
										    <p>File not yet available</p>
									{% endif %}

								{% else %}
									<h1> No jobs recruited !!!</h1>
								{% endif %}	

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div>
			<a href="{% url 'linkedhr:login'%} " >>>Login </a>
		</div>
	{% endif %}

{% endblock %}