{% extends 'city/base.html' %}
{% block title %} Add City {% endblock %}
{% block city_active %} Active {% endblock %}

{% block body %}

	
	{% if user.is_authenticated %}
		
			<!-- <div class="container"> -->
			<!-- <div class="container"> -->
        <!--<div class="container-fluid"> -->
        <div> 
				<div class="row align-items-center">
					<div class="row">
						<div class="col-md-12 order-md-12">
							<div class="panel panel-default">
								<div class="panel-body">	
									{% if messages %}
									    {% for message in messages %}
									      <p class="bg-success">{{ message }}</p>
									    {% endfor %}
									{% endif %}	
									<!-- <a href="{% url 'linkedhr:myuserprofile_without_pk' %}" >Back</a> -->
									<a onclick="window.history.go(-1);" href="" >Back</a>

									
									<h3 class="mb-3">Edit company </h3> 
									<hr class="mb-4">
									<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
										{% csrf_token %}
										{% include 'city/form_template.html' %}

							            <hr class="mb-4">
							            <button class="btn btn-success" type="submit">Update</button>
							            {% if object %}
							            	<a href="{% url 'linkedhr:company-delete' object.id %}"  class="btn btn-danger">
							            		<span class="glyphicon glyphicon-trash"> Delete </span>
							            	</a>
							     		{% endif %}

							        </form>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		
	{% else %}
		<div style="text-align: center;">
			<a href="{% url 'linkedhr:login'%} " >>>Login </a>
		</div>
	{% endif %}
	
{% endblock %}