{% extends 'city/base.html' %}

{% block body %}

	{% if user.is_authenticated %}

		<!-- <div class="container"> -->
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="row">
					<div class="col-md-12 order-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								{% if data %}
									{% for i in data %}

										<h1>{{ i.name }}</h1>
										
										{% if i.company_logo %}
										 	<a href="{% url 'linkedhr:list_company' i.id %}"> 
												<img src = "../../../../../{{ i.company_logo.url }}" class="img-circle" style="width: 140px; height: 140px;" alt = "140 X 140">
											</a>
										{% else %}
											<a href="{% url 'linkedhr:list_company' i.id %}"> 
												<img src = "" class="img-circle" style="width: 140px; height: 140px;" alt = "140 X 140">
											</a>
										{% endif %}			
										
								 		<li> <span></span>{{ i.name }}</li>
								 		<li> <span></span>{{ i.email }}</li>
								 		<li> <span></span>{{ i.phone_number }}</li>
								 		<li> <span></span>{{ i.location }}</li>
								 		<li> <span></span>{{ i.address }}</li>
								 		<li> <span></span>{{ i.web_site }}</li>
								 		<li> <span></span>{{ i.description }}</li>

								 		<div style="margin-top: 10px;">
								 		<a  href="{% url 'linkedhr:company-update' i.id %}"> <span class="glyphicon glyphicon-pencil" aria-hidden=true> Edit</span> </a> 
								 		<div>

								 		
										<h3> Branch </h3>
										{% if i.branch_set.all.count > 0 %}
									 		{% for j in i.branch_set.all  %}
												<a  href="{% url 'linkedhr:branch-update' j.id %}"> <span class="glyphicon glyphicon-pencil" aria-hidden=true> {{ j.name }}</span> 
												</a> 
												<br>
											{% endfor %}
										{% else %}
											<a class="btn btn-success" href="{% url 'linkedhr:branch' i.id %}"> Add </a> 
										{% endif %}

										<hr class="mb-4">
								 		
									{% endfor %}
								{% endif %}
								

								

								{% if error_message %}
									<p><strong> {{error_message}} </strong></p>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	{% else %}
		<a href="{% url 'linkedhr:login'%} " >>>Login </a>
	{% endif %}

{% endblock %}

