.userprofile{
	width: 80%;
	margin:auto;
	position: table;
	vertical-align: baseline

}
.user_profile{
	width: 100%;
	position: table;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid gray;
	padding-top :20px;
	padding-bottom: 10px;
	background: white;
	color:rgba(0,0,0,.9);
	margin-bottom: 10px;
	border-radius: 3px 3px 3px 3px ;
}
.user_ed{
	width: 100%;
	position: table;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid gray;
	padding-top :10px;
	padding-bottom: 10px;
	background: white;
	color:rgba(0,0,0,.9);
	margin-bottom: 10px;
	border-radius: 3px 3px 3px 3px ;
}
.user_ex{
	width: 100%;
	position: table;
	margin-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top :20px;
	padding-bottom: 10px;
	border: 1px solid black;
	background: white;
	color:rgba(0,0,0,.9);
	border-radius: 3px 3px 3px 3px ;
}
.krotis_span:{
	font-style: italic;
	color: black;
	font-weight: bold;
}

